/* LOADING ANIMATION */

#page_loader {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	color: white;
	background-color: black;
	z-index: 999;
	animation: fadetobackground 5s linear;
}

#page_loader > span {
	font-size: 1.6rem;
	text-transform: capitalize;
	animation: fadeout 3s linear;
}

#page_loader > span:after { content: '...'; }

@keyframes fadeout {
	0% { transform: scale(0); }
	70% { transform: scale(1.4); color: grey; }
	100% { transform: scale(1); }
}

@keyframes fadetobackground {
	0% { background-color: black; }
	100% { background-color: #3b4b5ccc;; }
}